<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mail Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- load bootstrap setup as outlined at W3Schools -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron">
	  <h1><b>Mail Calculation</b></h1>
	</div>
    <div>
      <h1>Mail Details:</h1>
	  <br/>
	  <h3>Mailing a <%= mail%>.</h3>
	  <br/>
	  <h3>Weight is <%= weight%> ounces.</h3>
	  <br/>
	  <h3><%= message%>.</h3>
    </div>   
  </body>
</html>



  
